/* CSS Reset from joshwcomeau */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }
  /**************************/

  html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 80vh;
    display: block;
}
h1 {
    font-size: 1.5rem;
    text-align: center;
}
.calc-container {
    box-sizing: content-box;
    height: 350px;
    width: 250px;
    background:gray;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

.display {
    height: 87.5px;
    width: 100%;
    background: orange;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 75%;
    border-radius: 2px;
}

.display > div {
  text-align:right;
  padding-right: 0.5rem;
}

#display-top > p {
  font-size: 0.8rem;
  padding-top: 1rem;
}

#display-bot > p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.clr-del {
    height: 52.5px;
    width: 100%;
    background: orange;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 2px;
}

.clr-del > button {
  height: 100%;
  width: 50%;
  border-radius: 5%;
}

.num-operator {
  height: 200px;
  width: 100%;
  background: orange;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
}

.num-operator > button {
  height: 25%;
  width: 25%;
  border-radius: 10%;
}

button:hover {
  background: gray;
  opacity: 80%;
}

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}